<!DOCTYPE html>
<html lang="en">
<link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
<head>
  <meta charset="UTF-8">
  <title>My Website</title>

  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">

  <style>
    body {
      font-family: 'Open Sans', sans-serif;
      margin: 0;
      text-align: center;
    }

    header {
      background-color: #eee;
      text-align: center;
      padding: 20px;
      text-align: center;
    }

    nav a {
      text-decoration: none;
      color: #444;
      margin-right: 20px;
      text-align: center;
    }
    footer {
      background-color: #eee;
      text-align: center;
      padding: 20px;
        text-align: center;
    }
  </style>

</head>

<body>

  <header>
    <nav>
      {% if is_public_page %}
      <a href="/">Register</a>
      <a href="login">Login</a>
      {% else %}
      <a href="exchange_keys">Manage API keys</a>
      <a href="panel">Panel</a>
      <a href="logout">Logout</a>
      {% endif %}
    </nav>
  </header>

  <main>
      {% if status == 'error' %}
<p style="color:red;">{{ message }}</p>
{% endif %}
{% if status == 'success' %}
<p style="color:darkgreen;">{{ message }}</p>
{% endif %}

    {% block content %}

    {% endblock %}
  </main>
  <br>
<footer>
    <p>&copy; 2023</p>
  </footer>
</body>
</html>