<!DOCTYPE html>
<html lang="en">
<link href="data:image/x-icon;," rel="shortcut icon" type="image/x-icon">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.css">

<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.js"></script>

<script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>

<style>
        body {
            font-family: 'Open Sans', sans-serif;
            margin: 0;
            text-align: center;
        }

        main {
            text-align: center;
            padding: 20px;
        }
</style>

<head>
    <header>

    {% if is_public_page %}
    <div class="ui stackable menu">

        <a href="/" class="item">Register</a>
        <a href="login" class="item">Login</a>

    </div>

    {% else %}

    <div class="ui stackable menu">

        <a href="exchange_keys" class="item">Manage API keys</a>
        <a href="panel" class="item">Panel</a>
        <div class="right menu">
        <a href="logout" class="item">Logout</a>
        </div>
    </div>
    {% endif %}

</header>

</head>

<body>



<main>
    {% if status == 'error' %}
    <div class="ui red message">{{ message }}</div>
    {% endif %}
    {% if status == 'success' %}
    <div class="ui green message">{{ message }}</div>
    {% endif %}

    {% block content %}§

    {% endblock %}
</main>
</body>
</html>