{% extends "base.html" %}

{% block content %}
<h1>Login</h1>

<p>Please fill in this form to login into account.</p>
<hr>
<form action="/login" method="post">
    <div class="container">
        <label for="username"><b>Username</b></label>
        <input name="username" placeholder="Enter Username" required type="username">
        <label for="password"><b>Password</b></label>
        <input name="password" placeholder="Enter Password" required type="password">
        <hr>
        <button type="submit">Login</button>
    </div>
</form>

{% endblock %}
