{% extends "base.html" %}

{% block content %}
<style>
    .var {
        font-weight: bold;
        color: darkblue;
    }

    .tradingview-widget-container {
        margin: 0 auto;
        display: block;
    }
</style>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ position.symbol }} Trade panel</title>
</head>

<body>


<h1>Symbol panel {{ position.symbol }}</h1>

<form action="/submit" method="post">

    <strong>
            <span style="display: inline-block; width: 100px; text-align: right;">
              {{ position.symbol }}
            </span>
    </strong>

    {% if position.side == 'Buy' %}
    📈
    {% else %}
    📉
    {% endif %}
    {% if position.unrealisedPnl|int > 0 %}
    🟢<span style="display: inline-block; width: 30px; text-align: right;">{{position.unrealisedPnl|float|round(2, 'floor')}}</span>
    {% else %}
    🔴<span style="display: inline-block; width: 30px; text-align: right;">{{position.unrealisedPnl|float|round(2, 'floor')}}</span>
    {% endif %}
    <button
            name="myData"
            type="submit"
            value="{'action':'cancel_trade','symbol':'{{ position.symbol }}'}"
    >
        &nbsp;Cancel trade
    </button>

    <button
            name="myData"
            type="submit"
            value="{'action':'set_sl_breakeven','symbol':'{{ position.symbol }}'}"
    >
        &nbsp;SL Breakeven
    </button>

    <button
            name="myData"
            type="submit"
            value="{'action':'cancel_add_orders','symbol':'{{ position.symbol }}'}"
    >
        &nbsp;Cancel add orders
    </button>


</form>

<form action="/set_stop" method="post">
    <label for="inputField">
        Stop Loss
    </label>

    <input name="stop_price" type="text">
    <input name="symbol" type="hidden" value="{{ position.symbol }}">
    <input type="submit" value="Send data">
</form>

<form method="post" action="/market_position">
  <button type="submit" name="side_symbol" value="Buy_{{ position.symbol }}">Buy</button>

  <input type="text" name="quantity" pattern="^[\d]+(\.[\d]+)?$" title="Please input number." required type="quantity">

  <button type="submit" name="side_symbol" value="Sell_{{ position.symbol }}">Sell</button>
</form>

<tr>
<td style="text-align: right;"><b>Stop Loss:</b></td>
        <td style="text-align: left;"><span class="var">{{position.stopLoss}}</span></td>
</tr>
<br>
<tr>
        <td style="text-align: right;"><b>Side:</b></td>
        <td style="text-align: left;"><span class="var">{{position.side}}</span></td>
    </tr>
<br>
    <tr>
        <td style="text-align: right;"><b>Unrealized P/L:</b></td>
        <td style="text-align: left;"><span class="var">{{position.unrealisedPnl|float|round(2)}}</span></td>
    </tr>
<br>
    <tr>
        <td style="text-align: right;"><b>Realized P/L:</b></td>
        <td style="text-align: left;"><span class="var">{{position.cumRealisedPnl|float|round(2)}}</span></td>
    </tr>
<br>


<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
    <div class="tradingview-widget-container__widget"></div>
    <script async src="https://s3.tradingview.com/external-embedding/embed-widget-advanced-chart.js"
            type="text/javascript">
        {
            "width"
        :
            "500",
                "height"
        :
            "500",
                "symbol"
        :
            "BYBIT:{{ position.symbol }}.P",
                "interval"
        :
            "D",
                "timezone"
        :
            "Etc/UTC",
                "theme"
        :
            "light",
                "style"
        :
            "1",
                "locale"
        :
            "en",
                "enable_publishing"
        :
            false,
                "allow_symbol_change"
        :
            true,
                "support_host"
        :
            "https://www.tradingview.com"
        }
    </script>
</div>
<!-- TradingView Widget END -->


<h2>Position summary</h2>

<table style="margin: 0 auto;">
    <tr>
        <td style="text-align: right;"><b>Symbol:</b></td>
        <td style="text-align: left;"><span class="var">{{position.symbol}}</span></td>
    </tr>

    <tr>
        <td style="text-align: right;"><b>Side:</b></td>
        <td style="text-align: left;"><span class="var">{{position.side}}</span></td>
    </tr>

    <tr>
        <td style="text-align: right;"><b>Size:</b></td>
        <td style="text-align: left;"><span class="var">{{position.size}}</span></td>
    </tr>

    <tr>
        <td style="text-align: right;"><b>Average Price:</b></td>
        <td style="text-align: left;"><span class="var">{{position.avgPrice}}</span></td>
    </tr>

    <tr>
        <td style="text-align: right;"><b>Position Value:</b></td>
        <td style="text-align: left;"><span class="var">{{position.positionValue}}</span></td>
    </tr>

    <tr>
        <td style="text-align: right;"><b>Leverage:</b></td>
        <td style="text-align: left;"><span class="var">{{position.leverage}}</span></td>
    </tr>

    <tr>
        <td style="text-align: right;"><b>Margin Balance:</b></td>
        <td style="text-align: left;"><span class="var">{{position.positionBalance}}</span></td>
    </tr>

    <tr>
        <td style="text-align: right;"><b>Mark Price:</b></td>
        <td style="text-align: left;"><span class="var">{{position.markPrice}}</span></td>
    </tr>

    <tr>
        <td style="text-align: right;"><b>Liquidation Price:</b></td>
        <td style="text-align: left;"><span class="var">{{position.liqPrice}}</span></td>
    </tr>

    <tr>
        <td style="text-align: right;"><b>Stop Loss:</b></td>
        <td style="text-align: left;"><span class="var">{{position.stopLoss}}</span></td>
    </tr>

    <tr>
        <td style="text-align: right;"><b>Unrealized P/L:</b></td>
        <td style="text-align: left;"><span class="var">{{position.unrealisedPnl}}</span></td>
    </tr>

    <tr>
        <td style="text-align: right;"><b>Realized P/L:</b></td>
        <td style="text-align: left;"><span class="var">{{position.cumRealisedPnl}}</span></td>
    </tr>

</table>




<h2>Ticker summary</h2>
<table style="margin: 0 auto;">
    <tr>
        <td style="text-align: right;"><b>Mark Price:</b></td>
        <td style="text-align: left;"><span class="var">{{ticker.markPrice}}</span></td>
    </tr>

    <tr>
        <td style="text-align: right;"><b>24hr Prev Price:</b></td>
        <td style="text-align: left;"><span class="var">{{ticker.prevPrice24h}}</span></td>
    </tr>

    <tr>
        <td style="text-align: right;"><b>24hr Price Change:</b></td>
        <td style="text-align: left;"><span class="var">{{ticker.price24hPcnt}}</span></td>
    </tr>

    <tr>
        <td style="text-align: right;"><b>24hr High Price:</b></td>
        <td style="text-align: left;"><span class="var">{{ticker.highPrice24h}}</span></td>
    </tr>

    <tr>
        <td style="text-align: right;"><b>24hr Low Price:</b></td>
        <td style="text-align: left;"><span class="var">{{ticker.lowPrice24h}}</span></td>
    </tr>

    <tr>
        <td style="text-align: right;"><b>1hr Prev Price:</b></td>
        <td style="text-align: left;"><span class="var">{{ticker.prevPrice1h}}</span></td>
    </tr>

    <tr>
        <td style="text-align: right;"><b>24hr Volume:</b></td>
        <td style="text-align: left;"><span class="var">{{ticker.volume24h}}</span></td>
    </tr>

    <tr>
        <td style="text-align: right;"><b>Funding Rate:</b></td>
        <td style="text-align: left;"><span class="var">{{ticker.fundingRate}}</span></td>
    </tr>

</table>
<!-- TradingView Widget BEGIN -->

</body>

</html>

{% endblock %}