{% extends "base.html" %}

{% block content %}
<p class="h2 text-center">Symbol panel {{ position.symbol }}</p>

<!-- Tab bar BEGIN -->
<ul class="nav nav-pills mb-3" id="myTab" role="tablist" style="justify-content: center">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true" style="padding: 1px 10px;">Trade</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false" style="padding: 1px 10px;">Summary</button>
  </li>
</ul>
<div class="tab-content">
  <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">
      <br>
      <form action="/set_stop" method="post" style="width: 90%; max-width: 500px; min-width: 270px" class="mx-auto">
    <div class="input-group mb-3">
        <input aria-describedby="button-addon2" aria-label="Open Trade" class="form-control"
               placeholder="Set stop loss" name="stop_price" pattern="^[\d]+(\.[\d]+)?$" title="Please input number."
               type="text">

    <input name="symbol" type="hidden" value="{{ position.symbol }}">
        <input class="btn btn-outline-secondary" type="submit" value="Set StopLoss">
    </div>
</form>
<div class="mx-auto" style="max-width: 500px; width: 90%; min-width: 270px; height: 270px">
<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container mx-auto">
  <div class="tradingview-widget-container__widget"></div>
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-advanced-chart.js" async>
  {
  "autosize": true,
  "symbol": "BYBIT:{{ position.symbol }}.P",
  "interval": "D",
  "timezone": "Etc/UTC",
  "theme": "light",
  "style": "1",
  "locale": "en",
  "enable_publishing": false,
  "hide_legend": true,
  "save_image": false,
  "support_host": "https://www.tradingview.com"
}
  </script>
</div>
</div>
<!-- TradingView Widget END -->
<br>
<div style="width: 90%; max-width: 300px;" class="mx-auto">
<form method="post" action="/market_position">
  <input class="form-control" type="text" name="quantity" pattern="^[\d]+(\.[\d]+)?$" title="Please input number." required>
<br>
    <div class="btn-group text-center" role="group" style="width: 90%; max-width: 300px;">

<button class="btn btn-success btn-sm" type="submit" name="side_symbol" value="Buy_{{ position.symbol }}" style="min-width: 150px;">Long</button>
  <button class="btn btn-danger btn-sm" type="submit" name="side_symbol" value="Sell_{{ position.symbol }}" style="min-width: 150px;">Short</button>
        </div>
</form>
</div>

<form action="/submit" class="col-lg-6 offset-lg-3 " method="post">
    <p class="gap-1">
    <div class="d-grid gap-2 d-md-block mx-auto text-center" style="max-width: 700px; width: 90%">
        <button class="btn" style="color: darkblue" type="button">{{ position.symbol }}
            {% if position.side == 'Buy' %} 📈 {% endif %}
            {% if position.side == 'Sell' %} 📉 {% endif %}
            {% if position.unrealisedPnl|float|round(2, 'floor') > 0 %} 🟢 {{position.unrealisedPnl|float|round(2, 'floor')}}
            {% elif position.unrealisedPnl|float|round(2, 'floor') < 0 %} 🔴 {{position.unrealisedPnl|float|round(2, 'floor')}}
            {% else %} 🟡 {% endif %}
        </button>

        {% if (position.side == 'Buy') or (position.side == 'Sell') %}
        <button aria-pressed="true" class="btn active" name="myData" type="submit"
                value="{'action':'cancel_trade','symbol':'{{ position.symbol }}'}">Cancel trade
        </button>

        <button aria-pressed="true" class="btn active" name="myData" type="submit"
                value="{'action':'set_sl_breakeven','symbol':'{{ position.symbol }}'}">SL Breakeven
        </button>

        <button aria-pressed="true" class="btn active" name="myData" type="submit"
                value="{'action':'cancel_add_orders','symbol':'{{ position.symbol }}'}">Cancel add orders
        </button>
        {% endif %}
    </div>


</form>
  </div>


  <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">
      <div class="mx-auto" style="width: 90%; max-width: 300px;">
    <table class="table table-borderless" style="margin-left: auto; margin-right: auto">
        <thead>
        <tr>
            <th class="h6 text-center" style="text-align: center">Position summary</th>
        </tr>
    </thead>
        <tbody>
        <tr>
            <td><b>Symbol</b></td>
            <td>{{position.symbol}}</td>
        </tr>

        <tr>
            <td><b>Side</b></td>
            <td>{{position.side}}</td>
        </tr>

        <tr>
            <td><b>Size</b></td>
            <td>{{position.size}}</td>
        </tr>

        <tr>
            <td><b>Average Price</b></td>
            <td>{{position.avgPrice}}</td>
        </tr>

        <tr>
            <td><b>Total positions</b></td>
            <td>{{ positions|length}}</td>
        </tr>

        <tr>
            <td><b>Position Value</b></td>
            <td>{{position.positionValue}}</td>
        </tr>

        <tr>
            <td><b>Leverage</b></td>
            <td>{{ position.leverage }}</td>
        </tr>

        <tr>
            <td><b>Margin Balance</b></td>
            <td>{{ position.positionBalance }}</td>
        </tr>

        <tr>
            <td><b>Mark Price</b></td>
            <td>{{position.markPrice}}</td>
        </tr>
        <tr>
            <td><b>Liquidation Price</b></td>
            <td>{{position.liqPrice}}</td>
        </tr>
        <tr>
            <td><b>Stop Loss</b></td>
            <td>{{position.stopLoss}}</td>
        </tr>
        <tr>
            <td><b>Unrealized P/L</b></td>
            <td>{{position.unrealisedPnl}}</td>
        </tr>
        <tr>
            <td><b>Realized P/L</b></td>
            <td>{{position.cumRealisedPnl}}</td>
        </tr>

        </tbody>
    </table>
</div>


<div class="mx-auto" style="width: 90%; max-width: 300px;">
    <table class="table table-borderless" style="margin-left: auto; margin-right: auto">
        <thead>
        <tr>
            <th class="h6 text-center" style="text-align: center">Ticker summary</th>
        </tr>
    </thead>
        <tbody>
        <tr>
            <td><b>Mark Price</b></td>
            <td>{{ticker.markPrice}}</td>
        </tr>

        <tr>
            <td><b>24hr Prev Price</b></td>
            <td>{{ticker.prevPrice24h}}</td>
        </tr>

        <tr>
            <td><b>24hr Price Change</b></td>
            <td>{{ticker.highPrice24h}}</td>
        </tr>

        <tr>
            <td><b>1hr Prev Price</b></td>
            <td>{{ticker.prevPrice1h}}</td>
        </tr>

        <tr>
            <td><b>24hr Volume</b></td>
            <td>{{ticker.volume24h}}</td>
        </tr>

        <tr>
            <td><b>Funding Rate</b></td>
            <td>{{ticker.fundingRate}}</td>
        </tr>

        </tbody>
    </table>
</div>
  </div>

</div>



<script>
  var firstTabEl = document.querySelector('#myTab li:last-child a')
  var firstTab = new bootstrap.Tab(firstTabEl)

  firstTab.show()
</script>
<!-- Tab bar End -->

<br><br>
{% endblock %}