{% extends "base.html" %}

{% block content %}
<p class="h2 text-center">Symbol panel {{ position.symbol }}</p>

<!-- Tab bar BEGIN -->
<ul class="nav nav-pills mb-3" id="myTab" role="tablist" style="justify-content: center">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true" style="padding: 1px 10px;">Trade</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false" style="padding: 1px 10px;">Summary</button>
  </li>
</ul>
<div class="tab-content">
  <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">
      <br>
      <form action="/set_stop" method="post" style="max-width: 90%; width: 500px; min-width: 270px" class="mx-auto">
    <div class="input-group mb-3">
        <input aria-describedby="button-addon2" aria-label="Open Trade" class="form-control"
               placeholder="Set stop loss" name="stop_price" pattern="^[\d]+(\.[\d]+)?$" title="Please input number."
               type="text">

    <input name="symbol" type="hidden" value="{{ position.symbol }}">
        <input class="btn btn-outline-secondary" type="submit" value="Set StopLoss">
    </div>
</form>
<div class="mx-auto" style="max-width: 500px;max-width: 90%; width: 500px; min-width: 270px; height: 270px">
<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container mx-auto">
  <div class="tradingview-widget-container__widget"></div>
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-advanced-chart.js" async>
  {
  "autosize": true,
  "symbol": "BYBIT:{{ position.symbol }}.P",
  "interval": "D",
  "timezone": "Etc/UTC",
  "theme": "light",
  "style": "1",
  "locale": "en",
  "enable_publishing": false,
  "hide_legend": true,
  "save_image": false,
  "support_host": "https://www.tradingview.com"
}
  </script>
</div>
</div>
<!-- TradingView Widget END -->
<br>
<div style="max-width: 90%; max-width: 300px;" class="mx-auto">
<form method="post" action="/market_position">
  <input class="form-control "type="text" name="quantity" pattern="^[\d]+(\.[\d]+)?$" title="Please input number." required type="quantity">
<br>
    <div class="btn-group text-center" role="group" style="max-width: 90%; max-width: 300px;">

<button class="btn btn-success btn-sm" type="submit" name="side_symbol" value="Buy_{{ position.symbol }}" style="min-width: 150px;">Long</button>
  <button class="btn btn-danger btn-sm"type="submit" name="side_symbol" value="Sell_{{ position.symbol }}" style="min-width: 150px;">Short</button>
        </div>
</form>
</div>

<form action="/submit" class="col-lg-6 offset-lg-3 " method="post">
    <p class="gap-1">
    <div class="d-grid gap-2 d-md-block mx-auto text-center" style="max-width: 600px; max-width: 90%">
        <button class="btn" style="color: darkblue" type="button">{{ position.symbol }}
            {% if position.side == 'Buy' %} 📈 {% endif %}
            {% if position.side == 'Sell' %} 📉 {% endif %}
            {% if position.unrealisedPnl|float|round(2, 'floor') > 0 %} 🟢 {{position.unrealisedPnl|float|round(2, 'floor')}}
            {% elif position.unrealisedPnl|float|round(2, 'floor') < 0 %} 🔴 {{position.unrealisedPnl|float|round(2, 'floor')}}
            {% else %} 🟡 {% endif %}
        </button>

        {% if (position.side == 'Buy') or (position.side == 'Sell') %}
        <button aria-pressed="true" class="btn active" name="myData" type="submit"
                value="{'action':'cancel_trade','symbol':'{{ position.symbol }}', 'page':'panel'}">Cancel trade
        </button>

        <button aria-pressed="true" class="btn active" name="myData" type="submit"
                value="{'action':'set_sl_breakeven','symbol':'{{ position.symbol }}','page':'panel'}">SL Breakeven
        </button>

        <button aria-pressed="true" class="btn active" name="myData" type="submit"
                value="{'action':'cancel_add_orders','symbol':'{{ position.symbol }}','page':'panel'}">Cancel add orders
        </button>
        {% endif %}
    </div>
    </p>

</form>
  </div>


  <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">123</div>

</div>

<script>
  var firstTabEl = document.querySelector('#myTab li:last-child a')
  var firstTab = new bootstrap.Tab(firstTabEl)

  firstTab.show()
</script>
<!-- Tab bar End -->

<br><br>
{% endblock %}