{% extends "base.html" %}

{% block content %}
<style>
    .var {
        font-weight: bold;
        color: darkblue;
    }</style>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>

<h1>Trade panel</h1>

<form action="/form_create_trade" method="post">
    <label for="inputField">
        Create trade:
    </label>

    <input id="inputField" name="inputField" type="text">
    <input type="submit" value="Send data">
</form>

<br>

{% for position in positions %}

<form action="/submit" method="post">

    <strong>
            <span style="display: inline-block; width: 100px; text-align: right;">
              <a href="{{ position.symbol }}">{{ position.symbol }}</a>
            </span>
    </strong>

    {% if position.side == 'Buy' %}
    📈
    {% else %}
    📉
    {% endif %}

    <button
            name="myData"
            type="submit"
            value="{'action':'cancel_trade','symbol':'{{ position.symbol }}', 'page':'panel'}"
    >
        &nbsp;Cancel trade
    </button>

    <button
            name="myData"
            type="submit"
            value="{'action':'set_sl_breakeven','symbol':'{{ position.symbol }}','page':'panel'}"
    >
        &nbsp;SL Breakeven
    </button>

    <button
            name="myData"
            type="submit"
            value="{'action':'cancel_add_orders','symbol':'{{ position.symbol }}','page':'panel'}"
    >
        &nbsp;Cancel add orders
    </button>

    {% if position.unrealisedPnl|int > 0 %}
    &nbsp;🟢&nbsp;<span style="display: inline-block; width: 30px; text-align: right;">{{position.unrealisedPnl|float|round(2, 'floor')}}</span>
    {% else %}
    &nbsp;🔴&nbsp;<span style="display: inline-block; width: 30px; text-align: right;">{{position.unrealisedPnl|float|round(2, 'floor')}}</span>
    {% endif %}

</form>

{% endfor %}
<br>


<table style="margin: 0 auto;">
    <tr>
        <td style="text-align: right;"><b>Total positions:</b></td>
        <td style="text-align: left;"><span class="var">{{ positions|length}}</span></td>
    </tr>

    <tr>
        <td style="text-align: right;"><b>Unrealised PNL:</b></td>
        <td style="text-align: left;"><span class="var">{{ unrealised_pnl }}</span></td>
    </tr>

    <tr>
        <td style="text-align: right;"><b>Realised PNL:</b></td>
        <td style="text-align: left;"><span class="var">{{ realised_pnl }}</span></td>
    </tr>
</table>

</body>

</html>

{% endblock %}