{% extends "base.html" %}


{% block content %}
<style>
    /* Apply to screens smaller than 600px */
    @media only screen and (max-width: 600px) {
        .btn {
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
        }
    }
</style>
<p class="h2 text-center">Trade Panel</p>


<div class="mx-auto" style="max-width: 90%; width: 500px; min-width: 270px">
    <div class="input-group">
        <select class="form-select" id="pairs">
            <option selected="">BTCUSDT</option>
            {% for symbol in instruments %}
            <option value="{{ symbol.symbol}}">{{ symbol.symbol}}</option>
            {% endfor %}
        </select>
        <button class="btn btn-outline-secondary" onclick="goToPair()" type="button">Go to Symbol</button>
    </div>

    <br>

    <form action="/form_create_trade" method="post">
        <div class="input-group mb-3">
            <input aria-describedby="button-addon2" aria-label="Open Trade" class="form-control" name="inputField" placeholder="Trade Data"
                   type="text">
            <input class="btn btn-outline-secondary" type="submit" value="Open Trade">


        </div>
    </form>
</div>

{% for position in positions %}
<form action="/submit" class="col-lg-6 offset-lg-3 " method="post">
    <p class="gap-1">
    <div class="d-grid gap-2 d-md-block mx-auto text-center" style="max-width: 600px; width: 90%">
        <a class="btn" style="color: darkblue; min-width: 250px; text-align: right;" type="button" href="{{ position.symbol }}">{{ position.symbol }}
    {% if position.side == 'Buy' %} 📈 {% endif %}
    {% if position.side == 'Sell' %} 📉 {% endif %}
    {% if position.unrealisedPnl|float|round(2, 'floor') > 0 %} 🟢 {{position.unrealisedPnl|float|round(2, 'floor')}}
    {% elif position.unrealisedPnl|float|round(2, 'floor') < 0 %} 🔴 {{position.unrealisedPnl|float|round(2, 'floor')}}
    {% else %} 🟡 0.00 {% endif %}
</a>

        {% if (position.side == 'Buy') or (position.side == 'Sell') %}
        <button aria-pressed="true" class="btn active" name="myData" type="submit"
                value="{'action':'cancel_trade','symbol':'{{ position.symbol }}', 'page':'panel'}">Cancel trade
        </button>

        <button aria-pressed="true" class="btn active" name="myData" type="submit"
                value="{'action':'set_sl_breakeven','symbol':'{{ position.symbol }}','page':'panel'}">SL Breakeven
        </button>

        <button aria-pressed="true" class="btn active" name="myData" type="submit"
                value="{'action':'cancel_add_orders','symbol':'{{ position.symbol }}','page':'panel'}">Cancel add orders
        </button>
        {% endif %}
    </div>


</form>
{% endfor %}


<script>
    function goToPair() {
        let pair = document.getElementById("pairs").value;
        window.location.href = "/" + pair;
    }
</script>

<div class="mx-auto" style="max-width: 90%; width: 300px;">
    <table class="table table-borderless">
        <tr>
            <td><b>Total positions</b></td>
            <td>{{ positions|length}}</td>
        </tr>
        {% if unrealised_pnl == 0 %}
        <tr>
            {% endif %}

            {% if unrealised_pnl > 0 %}
        <tr class="table-success">
            {% endif %}

            {% if unrealised_pnl < 0 %}
        <tr class="table-danger">
            {% endif %}
            <td>Unrealised PNL</td>
            <td>{{ unrealised_pnl }}</td>

        </tr>
    </table>
</div>
<br><br>
{% endblock %}



