{% extends "base.html" %}

{% block content %}
<div class="text-center">
    <p class="h2">Register</p>
    <p class="h6">Please fill in this form to create an account.</p>
</div>

<form action="/register_form" class="mx-auto" method="post" style="width: 300px; max-width: 90%">
    <div class="form-floating mb-3">
        <input class="form-control" id="floatingInputUsername" name="username" required type="text">
        <label for="floatingInputUsername">Username</label>
    </div>
    <div class="form-floating mb-3">
        <input class="form-control" id="floatingInputPassword" name="password" required type="password">
        <label for="floatingInputPassword">Password</label>
    </div>
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Register</button>
    </div>
</form>

<br>
<div class="text-center">
<a class="btn text-center" href="/login" style="color: darkblue" type="button">Login</a>
</div>
{% endblock %}